<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySql" connectionString="Server=localhost;Database=;Uid=root;Pwd=;"/>
    <add name="SqlServer" connectionString="Server=DKM\SQLEXPRESS;Database=API_CONSULTAS;User Id=dkhfc;Password=12345;"/>
  </connectionStrings>
  <appSettings>
    <add key="encoding" value="utf-8" />
    <add key="culture" value="es-PE" />
    <!-- 
          Informacion para el Log.
    -->
    <add key="log" value="true" />
    <add key="log_path" value="D:\DESARROLLO\log.txt" />
    <!-- 
          Programación Dia / Hora.
    -->
    <add key="day" value="6"/>
    <add key="time" value="23:04:00" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>